@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 background: linear-gradient(
    165deg,
    rgb(148, 220, 222),  /* #94DCDE */
    rgb(231, 97, 189)    /* #E761BD */
  );
}
.wrapper h1 {
  position: absolute;
  top: 20px;
  left: 20%;
  transform: translatex(-50%)
  text-align: center;
  font-size: 40px;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.wrapper p{
  position: absolute;
  top: 80px;
  left: 25%;
  transform: translatex(-50%)
  text-align: center;
  font-size: 16px;
  text-align: center;
  
}
